# Entorno virtual
venv/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pytest
.pytest_cache/

# Archivos del sistema
.DS_Store

# VSCode
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

